---

---

<div class="collapse collapse-arrow bg-base-200">
  <div class="collapse collapse-arrow rounded-none">
    <input type="radio" name="my-accordion-2" checked />
    <div class="collapse-title text-xl font-medium bg-white">
      How can I get started?
    </div>
    <div class="collapse-content">
      <p>hello</p>
    </div>
  </div>
  <div class="collapse collapse-arrow rounded-none">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title text-xl font-medium bg-white">
      What is the difference between Builder and Player?
    </div>
    <div class="collapse-content">
      <p>hello</p>
    </div>
  </div>
  <div class="collapse collapse-arrow rounded-none">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title text-xl font-medium bg-white">
      Do you provide training?
    </div>
    <div class="collapse-content">
      <p>hello</p>
    </div>
  </div>
  <div class="collapse collapse-arrow rounded-none">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title text-xl font-medium bg-white">
      How can I import my already existing content from another platform to
      Graasp?
    </div>
    <div class="collapse-content">
      <p>hello</p>
    </div>
  </div>
</div>
