---
import { getLangFromUrl } from "../i18n/utils";
import Layout from "../layouts/Layout.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = getLangFromUrl(Astro.url);
---

<Layout title="Page not found" description="not found" {lang}>
  <main class="grow flex">
    <div class="flex m-auto flex-col items-center place-content-center gap-8">
      <div class="graasp-logo"></div>
      <div>
        <h1 class="text-4xl font-bold">404: Not found</h1>
        <p>
          Sorry, we could not find this page. If this issue persists, please
          contact us.
        </p>
      </div>
      <span
        >&larr; <a class="home link" href={getRelativeLocaleUrl(lang, "/")}>
          Go Home</a
        ></span
      >
    </div>
  </main>
</Layout>

<style>
  .graasp-logo {
    height: 124px;
    width: 124px;
    background: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light))
    );
    -webkit-mask-image: url(/graasp-square-white.svg);
    mask-image: url(/graasp-square-white.svg);
  }
</style>
