---
import { useTranslations, getLangFromUrl } from "../../i18n/utils";
import UserStory from "./UserStory.astro";
const lang = getLangFromUrl(Astro.url);

const t = useTranslations(lang);
---

<section>
  <UserStory
    href=""
    caption={t("Are you a teacher wanting to enhance your content creation?")}
    buttonText={t("Start Today")}
    title={t("Build your material with Graasp, a structured way to…")}
  >
    <p>
      {t("Embed interactive apps in your class material")}
    </p>
    <p>
      {t("Connect with a wide community of educators")}
    </p>
    <p>
      {t("Explore detailed analytics about your students")}
    </p>
  </UserStory>
  <UserStory
    direction="right"
    href=""
    caption={t(
      "Are you a researcher seeking a platform that seamlessly integrates data collection and interactive experiences?",
    )}
    buttonText={t("Register Now")}
    title={t("Start using Graasp for your research")}
  >
    <p>
      {
        t(
          "Access a secure and controlled environment for conducting experiments",
        )
      }
    </p>
    <p>
      {t("Conduct tests with several different options")}
    </p>
    <p>
      {t("Join a lively community focused on advancing digital education")}
    </p>
  </UserStory>
</section>
