---
type Props = {
  name: string;
  label: string;
  placeholder: string;
};
const { name, label, placeholder } = Astro.props;
---

<>
  <label class="text-left" for={name}>{label}</label>
  <input class="p-2 rounded-xl" {placeholder} id={name} />
</>
