---
import { getRelativeLocaleUrl } from "astro:i18n";
import { languages } from "../i18n/ui";
import { getLangFromUrl } from "../i18n/utils";
import Icon from "astro-icon";

const lang = getLangFromUrl(Astro.url);
const [, ...page] = Astro.url.pathname
  .replace(new RegExp(`${import.meta.env.BASE_URL}/?`), "")
  .split("/");

const currentLang = languages[lang].short;
---

<details class="dropdown">
  <summary class="btn btn-sm btn-primary text-white"
    ><span>{currentLang}</span><Icon
      id="chevron"
      name="chevron"
      class="w-3 h-3"
    /></summary
  >
  <ul
    class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box text-graasp"
  >
    {
      Object.entries(languages).map(([lang, displayLang]) => (
        <li>
          <a href={getRelativeLocaleUrl(lang, page.join("/"))}>
            {displayLang.long}
          </a>
        </li>
      ))
    }
  </ul>
</details>

<style>
  select {
    @apply bg-graasp;
  }
  details[open] #chevron {
    transform: rotate(180deg);
  }
</style>
