---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { Icon } from "astro-icon/components";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="flex flex-col mt-5">
  <div class="flex flex-row justify-start relative grow sm:w-1/2 gap-10">
    <div class="flex flex-col gap-10">
      <div class="flex flex-col gap-5">
        <div class="flex flex-col">
          <h2>Graasp</h2>
          <h1 class="text-4xl sm:text-5xl font-bold">
            {t("Your learning experience platform")}
          </h1>
        </div>
        <p>
          {
            t(`Revolutionize your education and professional development!
            Our platform cares for the needs of educators and researchers, seeking a complete solution for content creation, presentation, and collaborative knowledge sharing.`)
          }
        </p>
      </div>
      <div class="flex flex-col gap-4">
        <div id="buttonsContainer" class="flex flex-row items-center gap-4">
          <a
            href="https://auth.graasp.org/signup"
            class="btn btn-primary text-white"
            ><slot>
              {t("Start Here")}
            </slot>
          </a>
          <a href="/" class="btn btn-accent btn">{t("Visit the Library")}</a>
          <a href="/playstore" class="btn bg-playButtons"
            ><div class="flex flex-row gap-4 items-center">
              <Icon name="playstore" font-size="2rem" />
              <div class="flex flex-col items-start text-white gap-1">
                <span class="text-xs"> Get it on</span>
                <span class="font-bold">Google Play</span>
              </div>
            </div>
          </a>
          <a href="/playstore" class="btn bg-playButtons"
            ><div class="flex flex-row gap-4 items-center">
              <Icon name="applestore" font-size="2rem" />
              <div class="flex flex-col items-start text-white gap-1">
                <span class="text-xs"> Get it on</span>
                <span class="font-bold">App Store</span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="flex flex-col gap-3">
        <p class="text-slate-400">{t("Supported by")}</p>
        <div id="logosContainer" class="flex flex-row gap-5">
          <span>EPFL</span>
          <span>UNCTAD</span>
          <span>BeLEARN</span>
          <span>EDTECH</span>
          <span>GOLAB</span>
          <span>GOGA</span>
          <span>UNINE</span>
          <span>IHUB4SCHOOL</span>
        </div>
      </div>
    </div>
    <div>
      <img class="m-auto rounded-3xl" src="https://picsum.photos/200/200" />
    </div>
  </div>
</section>
