---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Graasp from "../assets/graasp-hand.svg";
import { Image } from "astro:assets";
import SignUp from "./SignUp.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="min-h-[90vh] flex flex-col mt-5 sm:mt-0">
  <div
    class="p-5 m-auto place-items-center justify-center flex flex-col items-start md:items-center md:flex-row gap-20 sm:gap-[100px]"
  >
    <div
      class="relative h-[200px] w-[200px] md:w-[300px] md:h-[300px] self-center"
    >
      <div
        class="h-full w-[80%] rounded-full image-bg bg-gradient-to-tr from-graasp from-50% to-graaspLight"
      >
      </div>
      <Image
        alt="graasp logo"
        loading="eager"
        class="logo w-full h-full"
        src={Graasp}
      />
    </div>
    <div
      class="flex flex-col justify-start relative grow shrink-0 md:max-w-md lg:max-w-lg gap-10"
    >
      <div class="flex flex-col gap-3">
        <h1 class="text-4xl sm:text-5xl font-bold">
          <span class="text-gradient text-7xl sm:text-8xl">Graasp</span>
        </h1>
        <h2 class="text-3xl font-bold">{t("splash.title")}</h2>
      </div>
      <div class="flex flex-col gap-4">
        <h3 class="text-2xl">
          {t("splash.subtitle")}
        </h3>
        <span><SignUp size="big" /></span>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col gap-1 mt-5 opacity-50 relative bottom-3 w-full text-center"
  >
    <span class="text-base">{t("splash.learn-more")}</span>
    <span class="text-3xl"> &darr;</span>
  </div>
</section>

<style>
  .image-bg {
    /* width: 320px; */
    /* height: 320px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(68px);
  }

  .logo {
    max-width: unset;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 320px; */
    /* height: 320px; */
  }

  .text-gradient {
    @apply bg-gradient-to-r from-graasp to-graaspLight;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
