---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="flex flex-col mt-5">
  <caption>{t("Do you wanna be updated?")}</caption>
  <h5>{t("Subscribe to our newsletter!")}</h5>

  <input
    placeholder={t("Write your email address")}
    name={t("Email Address")}
  />
  <button>{t("Subscribe")}</button>
</section>

<style></style>
