---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  title: string;
  description: string;
  caption: string;
  direction?: "left" | "right";
}
const { title, direction = "right", description, caption } = Astro.props;
---

<div
  class:list={[
    "flex",
    "gap-4",
    "my-4",
    direction === "left" ? "md:flex-row-reverse" : "",
    "max-md:flex-col",
  ]}
>
  <div class="flex-none">
    <img
      class="rounded-3xl m-auto w-full min-w-[200px]"
      src="https://picsum.photos/100/100"
    />
  </div>
  <div
    class:list={[
      "flex-1",
      direction === "left" ? "md:text-left" : "md:text-right",
    ]}
  >
    <p class="max-md:text-center">
      {caption}
    </p>
    <h3 class="max-md:text-center">
      {title}
    </h3>
    <p>
      {description}
    </p>
  </div>
</div>
