---

interface Props {
    title: string;
  description:string
  caption:string
}
const { title , description,caption } = Astro.props;
---

<div class="grow">
  <img/>
<caption>{caption}</caption>
  <h5>{title}</h5>
<p>{description}</p>


</div>
