---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  name: string;
  description: string;
  href: string;
}
const { name, description, href } = Astro.props;
---

<div class="text-center">
  <img class="m-auto rounded-3xl" src="https://picsum.photos/200/150" />

  <h4 class="uppercase">{name}</h4>
  <p>{description}</p>

  <a {href} class:list={["btn btn-primary text-white "]}>{t("Read More")}</a>
</div>
