---

interface Props { 
}
const {   } = Astro.props;
---

<table>
    <tr>
      <th>Standard</th>
      <th>Premium</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
  </table>