---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
interface Props {}
const {} = Astro.props;
---

<table>
  <tr>
    <th>{t("Standard")}</th>
    <th>{t("Premium")}</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>
